/*Background colour*/
*{
    margin: 0;
}

body {
    background-color:#fefefe;
}

/*Section 1: Navbar*/
nav{
    margin:0%;
    padding: 2%;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-evenly;
}

nav a{
    color:black;
    text-decoration: none;
    font-size: 30px;
    font-family:'Lucida Sans';
}

.dropdown{
    display: none;
}

svg{
    display: none;
}

.dropdown-content {
    display: none;
}


/*Nav bar for smaller screen*/
@media (max-width: 750px){
    nav{
        right:0;
        width: 100%;
        height: 10%;
        padding: 5%;
        border-bottom: 1px solid black;
        justify-content: flex-end;
    }
    nav a{
        display: none;
    }
    .dropdown{
        position:absolute;
        display: inline-flex;
    }

    svg{
        position: fixed;
        display: block;
        width: 1.5rem;
        height: 1.5rem;
    }

    .dropdown-content{
        display: none;
        position: absolute, right 20px;
        flex-flow: column;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {display: block;}
}

nav img{
    height:30px;
    padding-right: 20px;
}

header{
    padding:40px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10vh;
    font-weight: 600;
    /*background-image: linear-gradient(to left, #07212a, #d3eaf2);*/
    color: rgb(21, 17, 17);
}

/*Section 2: Introductions*/
.introductions-container{
    display:flex;
    flex-direction: row;
    flex-flow: flex-start;
    align-items: stretch;
    height: 380px;

}

.introductions-container p{
    color: #4c4e52;
    padding:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    
}

.introductions-container .intro-image{
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 1;
}

/*Section 2: Projects*/
.project-container{
    display:flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    height: 300px;
}

/*Section 2a: Crochet Project*/
.crochet-container{
    display: flex;
    flex-direction: row;
    height: 50%;
    width:100%;
    justify-content: space-evenly;

}

/*Section 3: Footer*/
footer{
    position:fixed;
    bottom:0;
    margin-top: 20px;
    width: 100%;
    height: 10%;
    display: flex;
    background-color:rgb(21, 17, 17);
    flex-flow: flex-start;
    justify-content: space-between;
}

footer h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:20px;
    font-size: 20px;
    color: white;
}

footer img{
    height: 70%;
    padding-top: 10px;
    padding-right: 20px;
}

