/*Background colour*/
*{
    margin: 0;
}

body {
    background-color:#fefefe;
}

/*Section 1: Navbar*/
nav{
    margin:0%;
    padding: 2%;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-evenly;
}

nav a{
    color:black;
    text-decoration: none;
    font-size: 30px;
    font-family:'Lucida Sans';
}

nav svg{
    display: none;
}

/*Navigation for mobile*/
@media (max-width: 760px){
    nav{
        margin:0%;
        padding: 2%;
        display: flex;
        border-bottom: 1px solid black;
        justify-content: flex-end;
    }
    nav a{
        display: none;
    }
    nav svg{
        display:block;
        width: 1.5rem;
        height: 1.5rem;
    }
}

nav img{
    height:30px;
    padding-right: 20px;
}

header{
    padding:40px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10vh;
    font-weight: 600;
    /*background-image: linear-gradient(to left, #07212a, #d3eaf2);*/
    color: rgb(21, 17, 17);
}

/*Section 2: Introductions*/
.introductions-container{
    display:flex;
    flex-direction: row;
    flex-flow: flex-start;
    align-items: stretch;
    height: 380px;

}

p{
    color: #4c4e52;
    padding:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    
}

.intro-image{
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 1;
}

/*Section 2: Projects*/
.project-container{
    display:flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    height: 300px;
}

/*Section 2a: Crochet Project*/
.crochet-container{
    display: flex;
    flex-direction: row;
    height: 50%;
    width:100%;
    justify-content: space-evenly;

}

#bumblebee:hover{
   background: url('../crochet_images/crochet_bumblebee2.jpg');
}

/*Section 3: Footer*/
footer{
    position:fixed;
    bottom:0;
    margin-top: 20px;
    width: 100%;
    height: 10%;
    display: flex;
    background-color:rgb(21, 17, 17);
    flex-flow: flex-start;
    justify-content: space-between;
}

footer h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:20px;
    font-size: 20px;
    color: white;
}

footer img{
    height: 70%;
    padding-top: 10px;
    padding-right: 20px;
}

