/*Background colour*/
/*Issue with body not fully covering screen*/
body{
    width:100%;
    height:100%;
    background-color:rgba(255, 255, 255, 0.515);
}
/*Section 1:navbar*/
nav{
    right:0;
    margin:0%;
    padding: 2%;
    display: flex;
    border-bottom: 1px solid black;
    justify-content:space-evenly;
    align-items:center;
}


nav a{
    color:black;
    text-decoration: none;
    font-size: 30px;
    font-family:'Lucida Sans';
}

header{
    padding:40px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10vh;
    font-weight: 600;
    /*background-image: linear-gradient(to left, #07212a, #d3eaf2);*/
    color:#212426;
}

/*Section 2: Introductions*/
.introductions-container{
    display:flex;
    flex-direction: row;
    flex-flow: flex-start;
    align-items: stretch;
    height: 380px;

}
.introductions-container .text-container{
    display:flex;
    flex-direction:column;
    width:50%;
}

.introductions-container .text-container h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:left;
    padding-left:5%;
}

.introductions-container .intro-text{
    color: #4c4e52;
    padding:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    
}


.introductions-container .intro-image{
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 1;
}

/*Section 2: Projects*/
.project-container{
    display:flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    height: 300px;
}

/*Section 2a: Crochet Project*/
.crochet-container{
    display: flex;
    flex-direction: row;
    height: 50%;
    width:100%;
    justify-content: space-evenly;

}

/*Section 2b: Blog Posts*/
.blog{
    display:flex;
    flex-direction:row;
    width:100%;
    padding-bottom:8cap;
    flex-wrap: wrap;
}

.blog .blog-post{
    display:flex;
    flex-direction: column;
    width:31%;
    height:49rem;
    border-radius: 3vmax;
    border: 1px solid black;
    margin-left:2cap;
    margin-bottom:2cap;
    padding-bottom:2cap;
    justify-content:space-evenly;
}

.blog .blog-post .title{
    text-decoration:none;
    font-family: Gotham, Arial;
    color:#212426;
    font-weight:100;
    font-size: 5cap;
    padding-left:1cap;
}

.blog .blog-post h2{
    font-family: Gotham, Arial;
    padding-left:2cap;
    font-weight:50;
}
.blog .blog-post img{
    width:100%;
}

.blog .blog-post figure figcaption{
    font-family:'Courier New', Courier, monospace;
    color:#4c4e52;
}

.blog .blog-post p{
    font-family: Gotham, Arial;
    font-size:1rem;
    padding-left:2em;
}

/*Section 3: Footer*/
footer{
    position:fixed;
    bottom:0;
    left:0;
    margin:0;
    margin-top: 30px;
    width: 100%;
    height: 10%;
    display: flex;
    background-color:rgb(21, 17, 17);
    flex-flow: flex-start;
    justify-content: space-between;
}

footer h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:20px;
    font-size: 20px;
    color: white;
}

footer img{
    height: 70%;
    padding-top: 10px;
    padding-right: 20px;
}

